
body {
    font-family: 'Arial', sans-serif;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  
  form {
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    background-color: #fafafa;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    outline: none;
    border-color: #b2b2b2;
  }
  

  small {
    color: #e74c3c;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 10px;
    display: block;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #3897f0;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #3178c6;
  }
  
  form h2 {
    text-align: center;
    color: #262626;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  input::placeholder {
    color: #999;
  }
  